<div class="buttons-wrapper">
  <nz-space>
    <nz-space-item>
      <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="Click me to trigger function." nzTooltipPlacement="top" (click)="eventButtonOnClick()">
        Event button with tooltip
      </button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzDanger nzType="primary" (click)="showErrorMessage()">Primary Danger Button</button>
    </nz-space-item>
  </nz-space>
</div>
