<div nz-row class="steps-container element-container">
  <nz-steps [nzCurrent]="currentStep">
    <nz-step *ngFor="let step of maxSteps" nzTitle="Step {{step + 1}}"></nz-step>
  </nz-steps>
</div>
<div nz-row class="progress-bar-container element-container">
  <div nz-col nzFlex="auto">
    <nz-progress *ngFor="let progressBar of progressBars" [nzPercent]="progressBar.percentage"></nz-progress>
  </div>
</div>
