<nz-space>
  <nz-space-item>
    <button nz-button nzType="primary" (click)="switchTheme('theme-a')">
      Switch to theme A
    </button>
  </nz-space-item>
  <nz-space-item>
    <button nz-button nzType="dashed" (click)="switchTheme('theme-b')">
      Switch to theme B
    </button>
  </nz-space-item>
</nz-space>

